---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="経歴"
	pubDate={new Date('2023 Nov 1')}
	heroImage="/unnamed.png"
>
	<p>
		東京大学経済学部金融学科4年生。
	</p>

	<p>
		興味あること: 作曲, DJ, プログラミング, 金融, 機械学習, 仮想通貨などなど
	</p>
</Layout>
